* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1120px;
    padding: 0 10;
    margin: 0 auto;
}

button {
    &:hover {
        background-color: #E47209;
    }

    &:active {
        background-color: #4B9200;
    }

    &:disabled {
        background-color: #767474;
    }
}

header {
    background-color: #000000;

    .container {
        display: flex;

        .logo {
            border: 1px #FFFFFF;
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;

        }

        ul {
            display: flex;
            list-style-type: none;
            margin-left: 67px;
            margin-right: 438px;
            color: #FFFFFF;
            text-decoration: none;
            border: none;

            li {
                text-decoration: none;
                border: none;
                margin-top: 29px;
                margin-bottom: 29px;



                a {
                    border: none;
                    text-decoration: none;
                    color: #F9804B;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                }
            }

            li:not(:first-child) {
                margin-left: 58px;


                font: {
                    family: 'Roboto';
                    style: normal;
                    weight: 500;
                    size: 16px;
                }

                a {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;

                    &:hover {
                        color: #F9804B;
                    }
                }
            }
        }

        .design {
            margin-top: 29px;
            margin-bottom: 29px;
            border: none;
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;

            &:hover {
                color: #F9804B;
            }
        }
    }
}

.online {
    background: url(/img/1.png) 100% 100% no-repeat;
    height: 702px;
    background-size: cover;

    h1 {
        color: #FFFFFF;
        line-height: 80px;

        font: {
            family: 'Roboto';
            style: normal;
            weight: 700;
            size: 106px;
        }

        ;

        span {
            color: #FFEE2E;
        }
    }

    button {
        background-color: #F9804B;
        border-radius: 12px;
        cursor: pointer;
        border: none;
        &:hover {
            background-color: #E47209;
        }
    
        &:active {
            background-color: #4B9200;
        }
    
        &:disabled {
            background-color: #767474;
        }

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            /* or 22px */

            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 5px 16px;
        }
    }
}